body {
	background: #e5e5e5;
	text-align: center;
}

.bbc-container {
	background: #ffffff;
	margin: 25px auto 25px auto;
	padding: 20px;
}

.bbc-vertical-align {
	display: flex;
	align-items: center;
}

.nav a {
	color: #303030;
}

.nav li a:hover, .nav li a:focus {
	background: #ffffff;
	text-decoration: underline;
}

.nav li {
	margin: 0 60px 0 0;
}

.navbar-bbc {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 25px;
}

.navbar-toggle {
	background: #000000;
}

.navbar-toggle .icon-bar {
	background-color: #ffffff !important;
}

.bbc-content {
	margin: 100px 90px 0 90px;
}

h1 {
	font-size: 4.4em;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	margin-bottom: 10px;
}

.bbc-product-overview {
	margin-bottom: 100px;
}

.bbc-product-overview img {
	border: 5px solid #d2d2d2;
	margin: 0 0 15px 0;
}

.bbc-product-overview h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 20px 0 5px 0;
}

.btn-default {
	background: #d2d2d2;
	color: #ffffff;
	border-radius: 0;
}

div[class^="col"] {
	padding-left: 50px;
	padding-right: 50px;
}

.mittig_home {
	float: center;
	text-align: center;
	margin-bottom: 100px;
	text-decoration: none;
}

$view->seite {
	text-align: center;
}

h1 {
	text-align: center;
	margin-bottom: 10px;
}

h2 {
	text-align: center;
	margin-bottom: 120px;
	color: #3E92CC;
	font-family: 'Baloo Bhaina', cursive;
}

h3 {
	margin-bottom:
}

.anmelden_registrieren {
	margin: 0 30% 0 30%;
	text-allign: center;
	width: 40%;
}

.login {
	float: left
}

.form-group {
	margin-bottom: 25px;
}

.button {
	margin-bottom: 100px;
}

#copyright {
	float: left;
}

.inhalt {
	padding: 0 180px 0 180px;
}

.radio {
	margin-top: 80px;
}


.checkbox label {
	margin: 50px 0 10px 0;
}

.abstand {
	margin-bottom: 25px;
}

.submit button {
	margin-top: 20px;
}
